/* Font from GoogleFonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato';
}
h1 {
  font-size: 1.2em;
}

.bg_color {
  background-color: #e1c290;
}

#login_rel {
  position: absolute; left: 50%;
  width: 25%;
}

#login_inner {
  border-radius: 8px;
  background-color: #fffaf6;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 1px 5px #a5998a;

}

#login_abs {
  position: relative; left: -50%;
  top: 220px;padding: 10px;
  background-color: #edd8be;
  border-radius: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.grey {
  color: #696460;
}

.yellow {
  color: #efb75e;
}

.light-grey {
  color: #bbb4ac;
}